.home-banner{
    width: 100%;
}
.larger-text{
    font-size: 1.3rem;
    letter-spacing: 1px;
    font-family: cursive;
    font-weight: 100;
    padding: 4px;
}
.btn_hov{
    background-color: white;
    color: black;

}
.btn_hov:hover{
    background-color: black;
    color: white;
    font-weight: 600;
    transition: all 0.3s ease;
}
.text_white:hover{
    color: white;

}